#logo{
}

body{
  background-color: #ebeff5;
}

#total-orders{
  background-color: #503AA6;
}

#orders-delivered{
  background-color: #9E69ED;
}

#orders-pending{
  background-color: #4B63A3;
}

#crm_logo{
  height: 40px;
  width: auto;
  margin-right: 15px;
}

.nav-item{
  margin-right: 15px;
}
